footer {
    background-color: var(--main-bg-color);
    margin-top: var(--space-section); 
    display: flex;
    flex-direction: row;
    margin-top: 66px;
}

.footer {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.footer__title, 
.footer__link {
    line-height: 34px;
}


/****** Media queries ***********/
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    footer {
        flex-direction: column;
    }
}